page-Mesrecettes {
    .position_trash {
        position: relative;
        left: -5px;
        top: 0px;
        background-color: transparent;
    }
    .trashStyle {
        font-size: 30px;
        color: red;
    }
    .trashStyle {
        font-size: 30px;
        color: red;
    }
}